Options -Indexes

IndexOptions FancyIndexing

DirectoryIndex index.html

ErrorDocument 400 https://iabdul.ml/errors/error400.html
ErrorDocument 401 https://iabdul.ml/errors/error401.html
ErrorDocument 403 https://iabdul.ml/errors/error403.html
ErrorDocument 404 https://iabdul.ml/errors/error404.html
ErrorDocument 503 https://iabdul.ml/errors/error503.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]

#RewriteRule ^index.html/?$ www.iabdul.ml
#RewriteRule ^about.html/?$ www.iabdul.ml
#RewriteRule ^contact.html/?$ www.iabdul.ml